/* === Reset e Base === */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Onest-Regular", sans-serif;
    background-color: #0D0D0D;
    color: white;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* === Cabeçalho === */
header {
    background-color: transparent;
    padding: 10px;
    text-align: center;
    color: #E0E0E0;
}

.back-button, .back-button:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #E0E0E0;
}

/* === Área principal === */
.main-content {
    flex: 1; /* Empurra o footer para baixo */
    padding: 20px 0; /* Remove min-height que prejudicava o layout */
}

/* === Containers e Conteúdo === */
.car-listing-container {
    width: 98%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}

.filter-menu {
    color: #E0E0E0;
    background-color: #1A1A1A;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    font-size: 15px;
}

.car-listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 30px;
}

/* === Card do veículo === */
.car-card {
    background-color: #1A1A1A;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.car-card:hover {
    transform: translateY(-5px);
}

.car-image-container {
    width: 100%;
    height: 200px;
}

.car-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.car-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.titulo-options {
    font-size: 18px;
    font-weight: bold;
}

.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 20px;
    color: #00FF94;
}

.buy-button {
    background-color: #00FF94;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

/* === Footer === */
.footer {
    background-color: #1A1A1A;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Fixação automática no rodapé */
}

.footer p {
    margin: 5px 0;
    color: #E0E0E0;
}

/* === Responsividade === */
@media (max-width: 1024px) {
    .car-listing {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .car-listing {
        grid-template-columns: repeat(1, 1fr);
    }
}
